@model AnimalDto

<div class="col-md-11 d-flex">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-5 offset-1">
        <div class="form-group text-center">
            <img id="ProfileImgPreview" class="w-50 border-info rounded-circle" style="width:50%" />
            <input id="ProfileImg" asp-for="ProfileImg" type="file" class="form-control" onchange="preview()" style="display: none;" />
            <input type="button" class="btn btn-sm btn-warning float-end" value="Browse..." onclick="document.getElementById('ProfileImg').click();" />
            <span asp-validation-for="ProfileImg" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="control-label"></label>
            <input asp-for="DateOfBirth" type="date" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Sex" class="control-label"></label>
            <select asp-for="Sex" class="form-select" asp-items="Html.GetEnumSelectList<Sex>()"></select>
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-5 offset-1">
        <div class="form-group">
            <label asp-for="HealthState" class="control-label"></label>
            <input asp-for="HealthState" class="form-control" />
            <span asp-validation-for="HealthState" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Attitude" class="control-label"></label>
            <select asp-for="Attitude" class="form-select" asp-items="Html.GetEnumSelectList<Attitude>()"></select>
            <span asp-validation-for="Attitude" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HealthState" class="control-label"></label>
            <textarea asp-for="HealthState" class="form-control"></textarea>
            <span asp-validation-for="HealthState" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SpecieId" class="control-label"></label>
            <div class="form-group d-flex">
                <select asp-for="SpecieId" class="form-select" asp-items="ViewBag.Species"></select>
                <button type="button" class="btn btn-sm btn-outline-success icon-float-end" data-bs-toggle="modal" data-bs-target="#AddSpecieModal"><i class="bi bi-plus-circle t-2"></i></button>
            </div>
            <span asp-validation-for="SpecieId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FacilityId" class="control-label"></label>
            <div class="form-group d-flex">
                <select asp-for="FacilityId" class="form-select" asp-items="ViewBag.Facilities"></select>
                <button type="button" class="btn btn-sm btn-outline-success icon-float-end" data-bs-toggle="modal" data-bs-target="#AddFacilityModal"><i class="bi bi-plus-circle t-2"></i></button>
            </div>
            <span asp-validation-for="FacilityId" class="text-danger"></span>
        </div>
    </div>
</div>