@model WebApp.Models.AnimalViewModel

<div class="modal fade" id="Modal_Delete_@Model.Id" tabindex="-1" aria-labelledby="Delete_Title_@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content card border-dark mb-3 mt-3 col-8 w-30">
            <div class="modal-header card-header bg-danger text-light">
                <h5 class="modal-title card-title" id="Delete_Title_@Model.Id">Delete @Model.Name the @Model.Specie ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="Delete_@Model.Id" name="Delete_@Model.Id" asp-action="Delete">
                <div class="modal-body card-body">
                    <div class="col-md-11 d-flex">
                        <div class="col-md-5 offset-1">
                            <div class="form-group">
                                <label asp-for="Id" class="control-label"></label>
                                <input asp-for="Id" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" readonly></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateOfBirth" class="control-label"></label>
                                <input asp-for="DateOfBirth" type="date" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="Sex" class="control-label"></label>
                                <input asp-for="Sex" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="HealthState" class="control-label"></label>
                                <textarea asp-for="HealthState" class="form-control" readonly></textarea>
                            </div>
                        </div>
                        <div class="col-md-5 offset-1">
                            <div class="form-group">
                                <label asp-for="Attitude" class="control-label"></label>
                                <input asp-for="Attitude" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="DateCreated" class="control-label"></label>
                                <input asp-for="DateCreated" type="date" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="Specie" class="control-label">Specie</label>
                                <input asp-for="Specie" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="Type" class="control-label">Type</label>
                                <input asp-for="Type" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="Facility" class="control-label">Facility</label>
                                <input asp-for="Facility" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer card-footer btn-group-sm mt-4">
                    <button type="submit" form="Delete_@Model.Id" class="btn btn-sm btn-danger float-start" data-save="modal"><i class="bi bi-trash-fill"></i> Yes, Delete!</button>
                    <button type="button" class="btn btn-sm btn-secondary float-end" data-bs-dismiss="modal"><i class="bi bi-x"></i> Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>

    </script>
}