@model Animal

<form method="post" asp-action="Edit">
    <div class="card border-dark mb-3 mt-3 col-md-4 offset-4 w-30">
        <div class="card-header">
            <h3 class="card-title">Edit animal</h3>
        </div>
        <div class="card-body">
            <div asp-validation-summary="All">

            </div>
            <div class="mb-3">
                <label asp-for="Id"></label>
                <input asp-for="Id" class="form-control" disabled/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Type"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-sm btn-warning">Save</button>
            @if (ViewData["Reffer"] != null){
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary float-end">Cancel</a>
            }else{
                <a asp-action="Index" class="btn btn-sm btn-secondary float-end">Cancel</a>
            }
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
