@model WebApp.Models.FacilityViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="card border-dark mb-3 mt-3 col-md-8 offset-2  w-30">
    <div class="card-header bg-info text-light">
        <h3 class="card-title">Specie</h3>
    </div>
    <div class="card-body">
        <div class="col-md-11 d-flex">
            <div class="col-md-5 offset-1">
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" readonly></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" readonly />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaxCapacity" class="control-label"></label>
                    <input asp-for="MaxCapacity" class="form-control" readonly />
                    <span asp-validation-for="MaxCapacity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FreeSpace" class="control-label"></label>
                    <input asp-for="FreeSpace" class="form-control" readonly />
                    <span asp-validation-for="FreeSpace" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5 offset-1">
                <div class="form-group">
                    <label asp-for="BuildingNumber" class="control-label"></label>
                    <input asp-for="BuildingNumber" class="form-control" readonly />
                    <span asp-validation-for="BuildingNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ApartmentNumber" class="control-label"></label>
                    <input asp-for="ApartmentNumber" class="form-control" readonly />
                    <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StreetName" class="control-label"></label>
                    <input asp-for="StreetName" class="form-control" readonly />
                    <span asp-validation-for="StreetName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" readonly />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @if (Model.Animals != null && Model.Animals.Count() > 0)
                    {
                        <label asp-for="Animals" class="control-label"></label>
                        <div class="card container-fluid">
                            <ul class="d-flex mt-2 row-cols-auto flex-column justify-content-between text-dark list-unstyled">
                                @foreach (var item in Model.Animals.Split(", "))
                                {
                                    <li class="row ms-2">@item</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group-sm card-footer mt-4">
        @if (userManager.GetUser(HttpContextAccessor.HttpContext!.Session.GetString("Id")) != null)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i> Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i> Delete</a>
        }
        @if (ViewBag.Session != null && ViewBag.Session == "false")
        {
            <a asp-action="List" class="btn btn-sm btn-secondary float-end"><i class="bi bi-x"></i> Back to list</a>
        }
        else
        {
            <a asp-action="Index" class="btn btn-sm btn-secondary float-end"><i class="bi bi-list"></i> Back to browser</a>
        }
    </div>
</div>

