@model string;
@if (userManager.GetUser(HttpContextAccessor.HttpContext!.Session.GetString("Id")) != null && userManager.GetUser(HttpContextAccessor.HttpContext!.Session.GetString("Id"))!.Role == "Administrator")
{
    <div style="position:fixed; right:25px; bottom:25px;" class="text-white">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-sm btn-success"><i class="bi bi-plus-circle"></i> Add new</a>
        @*<button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#Modal_Create_">
            <i class="bi bi-plus-circle"></i> Create
        </button>*@
    </div>
}