@if(userManager.GetUser(HttpContextAccessor.HttpContext.Session.GetString("Id")) == null)
{
    <div class="text-dark">
        <a class="btn btn-sm btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right"></i> Log in
        </a>
        <span style="padding:5px"></span>
        <a class="btn btn-sm btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Register">
            <i class="bi bi-person-plus"></i> Register
        </a>
        <span style="padding:5px"></span>
    </div>
}
else
{
    <div class="dropdown">
        <button class="btn btn-sm btn-success dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-badge"></i> Hello @HttpContextAccessor.HttpContext.Session.GetString("user")
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            @if (userManager.GetUser(HttpContextAccessor.HttpContext.Session.GetString("Id")).Role == "Administrator")
            {

                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                        <i class="bi bi-people"></i> Users
                    </a>
                </li>
            }
        </ul>
    </div>

    <span style="padding:5px"></span>
    <form asp-controller="Account" asp-action="Logout">
        @Html.AntiForgeryToken()
        <button class="btn btn-sm btn-warning my-2 my-sm-0">
            <i class="bi bi-box-arrow-in-right"></i> Logout
        </button>
    </form>
}



