@model IBaseViewModel

@{
    ViewData["Title"] = "Delete";
}
<div class="card border-dark mb-3 mt-3 col-md-8 offset-2  w-30">
    <div class="card-header bg-danger text-light">
        <h3 class="card-title">Delete @Model.Name?</h3>
    </div>
    <div class="card-body">
        @await Html.PartialAsync("_RO", Model)
    </div>
    <div class="btn-group-sm card-footer mt-4">
        <form asp-action="Delete">
            @if (userManager.GetAccount(HttpContextAccessor.HttpContext!.Session.GetString("Id")) != null)
            {
                <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i> Yes, Delete!</button>
            }
            @if (ViewBag.SessionReturn == "Details")
            {
                <a asp-controller="Animals" asp-action="@ViewBag.SessionReturn" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary float-end"><i class="bi bi-x"></i> Cancel</a>
            }
            else
            {
                <a asp-controller="Animals" asp-action="List" class="btn btn-sm btn-secondary float-end"><i class="bi bi-list"></i> Back to list</a>
            }
        </form>
    </div>
</div>
