@model             IBaseViewModel

@{
    ViewData["Title"] = $"Edit {Model.Name}";
}
<div class="card border-dark mb-3 mt-3 col-md-8 offset-2 w-30">
    <div class="card-header bg-warning text-light">
        <h3 class="card-title">Edit @Model.Name</h3>
    </div>
    <form id="Edit_@Model.Id" asp-action="Edit">
        <div class="card-body">
            @await Html.PartialAsync("_RW", Model)
        </div>
        <div class="card-footer form-group mt-4">
            @if (userManager.GetAccount(HttpContextAccessor.HttpContext!.Session.GetString("Id")) != null)
            {
                <button form="Edit_@Model.Id" type="submit" class="btn btn-sm btn-warning"><i class="bi bi-save"></i> Save</button>
            }
            @if (ViewBag.SessionReturn == "Details")
            {
                <a asp-action="@ViewBag.SessionReturn" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary float-end"><i class="bi bi-x"></i> Cancel</a>
            }
            else
            {
                if (HttpContextAccessor.HttpContext!.Session.GetString("browser") == "false")
                {
                    <a asp-action="List" class="btn btn-sm btn-secondary float-end"><i class="bi bi-list"></i> Back to list</a>
                }
                else
                {
                    <a asp-action="Index" class="btn btn-sm btn-secondary float-end"><i class="bi bi-list"></i> Back to browser</a>
                }
            }
        </div>
    </form>
</div>
@await Html.PartialAsync("_ModalAddType", new AnimalTypeDto())
@await Html.PartialAsync("_ModalAddSpecie", new AnimalSpecieDto())
@await Html.PartialAsync("_ModalAddFacility", new FacilityDto())
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}