@using WebApp.ViewModels.Base
@model IEnumerable<IBaseViewModel>
@{
    ViewData["Title"] = $"List of {ViewContext.RouteData.Values["controller"]}";
}
<div class="card border-dark mb-3 mt-3 col-md-12">
    <div class="card-header bg-info text-light">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <table class="table table-striped bg-light" style="width: 100%">
            <thead>
                <tr>
                    @await Html.PartialAsync("_ListHeaders", (SortingDropdownsViewModel)ViewBag.Sorting)
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        @await Html.PartialAsync("_ListRow", obj)
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#Modal_Details_@obj.Id">
                                    <i class="bi bi-eye-fill"></i>
                                </button>
                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i></a>
                                @*<button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#Modal_Edit_@obj.Id">
                                    <i class="bi bi-pencil-square"></i>
                                </button>*@
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#Modal_Delete_@obj.Id">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                            @await Html.PartialAsync("_ModalDetails", obj)
                            @*@await Html.PartialAsync("_ModalEdit", (UpdateAnimalViewModel)ViewData[$"{obj.Id}"])*@
                            @await Html.PartialAsync("_ModalDelete", obj)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="btn-group-sm card-footer mt-4">
        @await Html.PartialAsync("_AddButton", @ViewContext.RouteData.Values["controller"])
    </div>
</div>
@*@await Html.PartialAsync("_ModalCreate", new AnimalDto())*@
@await Html.PartialAsync("_ModalAddSpecie", new AnimalSpecieDto())
@await Html.PartialAsync("_ModalAddType", new AnimalTypeDto())
@await Html.PartialAsync("_ModalAddFacility", new FacilityDto())
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

