html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-body {
    background-color: #7a7870 !important;
}

.icon-float-end {
    float: right !important;
    position: relative;
    align-self: center;
}

table thead tr .headerSortUp {
    background-image: url(../gfx/asc.gif) !important;
}

table thead tr .headerSortDown {
    background-image: url(../gfx/desc.gif) !important;
}
table thead tr th.headerSort {
    background-image: url(../gfx/bg.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    cursor: pointer;
}

table thead tr th a {
    display: block;
    text-decoration: none;
}