html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-body {
    background-color: #7a7870 !important;
}

.icon-float-end {
    float: right !important;
    position: relative;
    align-self: center;
}

table thead tr .headerSortUp {
    background-image: url(../gfx/asc.gif) !important;
}

table thead tr .headerSortDown {
    background-image: url(../gfx/desc.gif) !important;
}

table thead tr th.headerSort {
    background-image: url(../gfx/bg.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    cursor: pointer;
}

table thead tr th a {
    display: block;
    text-decoration: none;
}

.headerSortUp a, .headerSortDown a {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    background-color: lightgray;
}

.rounded-circle {
    border-radius: 50% !important;
    aspect-ratio: 1 !important;
    object-fit: cover;
}
