html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.bg-body {
    background-color: #7a7870 !important;
}

.icon-float-end {
    float: right !important;
    position: relative;
    align-self: center;
}